@import '../../style/index.scss';

.container {
	padding: 3rem;

	@include respond-to(small-desktop) {
		@include d-flex-row;
		padding-top: 0;
	}

	&__containerLeft {
		@include respond-to(small-desktop) {
			padding-left: 120px;
			align-items: flex-start;
		}
		@include respond-to(large-desktop) {
			padding-left: 160px;
		}

		&__info {
			@include respond-to(small-desktop) {
				align-items: flex-start;
				max-width: 90%;
			}

			@include respond-to(desktop) {
				max-width: 80%;
			}

			&__desc {
				@include fonts(500);
				font-size: 2.4rem;
				text-align: center;

				@include respond-to(tablet) {
					font-size: 3.6rem;
				}

				@include respond-to(small-desktop) {
					text-align: start;
				}

				@include respond-to(large-desktop) {
					font-size: 5.4rem;
				}
			}

			&__desc_smileIcon {
				margin: 0 10px;
				width: 50px;
				vertical-align: middle; /* Wyrównanie do środka linii tekstu */

				@include respond-to(small-desktop) {
					width: 80px;
				}
			}

			&__dess_contactMe {
				color: $blue-color;
			}
		}

		&__pencilIcon {
			margin-top: -20px;
			margin-bottom: 20px;
			text-align: center;

			@include respond-to(mobile) {
				margin-top: -70px;
			}

			@media screen and (min-width: 400px) {
				width: 70%;
				margin: -40px auto 40px;
			}

			@include respond-to(tablet) {
				margin-top: -100px;
				width: 50%;
			}

			@include respond-to(small-desktop) {
				width: 100%;
			}

			&__img {
				width: 100%;

				@include respond-to(large-desktop) {
					width: 70%;
					margin-right: 30rem;
				}
			}
		}

		&__action {
			@include d-flex-column;
			align-items: center;

			@include respond-to(small-desktop) {
				align-items: flex-start;
			}

			&__title {
				font-size: 2rem;

				@include respond-to(tablet) {
					font-size: 2.4rem;
				}
				@include respond-to(large-desktop) {
					font-size: 3.6rem;
				}
			}

			&__calendarIcon {
				margin-bottom: 0.7rem;
			}

			&__desc {
				font-size: 1.8rem;
				margin: 1rem 0;
				text-align: center;
			}

			&__btn {
				background-color: $light-grey-color;
				border: 4px solid $blue-color;
				padding: 0.7rem 1rem;
				border-radius: $border-radius;
				margin-top: 1rem;

				transition: scale, color, 0.7s;
				will-change: scale, color;

				@include respond-to(tablet) {
					font-size: 1.8rem;
				}
			}

			&__btn:hover {
				scale: 1.07;
				color: $blue-color;
			}
		}
	}
	&__containerRight {
		&__imageSide {
			display: none;
			@include respond-to(small-desktop) {
				display: flex;
				width: 100%;
			}

			&__img {
				width: 100%;
				margin-right: 40rem;
				@include respond-to(small-desktop) {
					margin-top: -160px;
				}
				@include respond-to(large-desktop) {
					margin-left: -190px;
				}
			}
		}
	}
}
