.container {
	padding: 6rem;
	max-width: 800px;
	margin: 0 auto;

	&__title {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}

	.textContainer {
		font-size: 1.8rem;
		&__text {
			margin-bottom: 2rem;
		}

		&__title {
			font-size: 2rem;
			margin: 1rem 0;
		}
		&__list {
			padding-bottom: 1rem;
		}
	}
}
