@import '../../style/index.scss';

.headerContainer {
	@include d-flex-row();
	justify-content: space-around;
	position: sticky;
	top: 0;
	background-color: $white-color;
	border-radius: $border-radius;
	z-index: 1000;

	@media screen and (max-width: $small-desktop) {
		margin-top: 2rem;
	}
}
