@import '../../style/index.scss';

.headerContainer {
	@include d-flex-row();
	justify-content: space-around;
	position: sticky;
	top: 0;
	background-color: $white-color;
	border-radius: $border-radius;
	z-index: 1000;

	margin-top: 2rem;
	@include respond-to(small-desktop) {
		margin-top: 0;
	}
}
