//colors
$blue-color: #0a6dc7;
$light-blue-color: #86c1f9;
$dark-blue-color: #045eb9;
$first-color-light: #f3f5f6;
$title-color: #22262b;
$text-color: #4f5964;
$text-color-light: #9ba6b0;

$white-color: #fafbfd;
$dark-color: #2d2e2d;
$dark-beige-color: #ffe5c0;
$light-beige-color: #fffaf3;
$light-grey-color: #fafafa;
$bronze-color: #915d0a;

//border
$border-radius: 0.7rem;

//closes hamburger
$hamburger-close-icon: 40px;

//opened menu
$hamburger-icon: 40px;

//size desktop
$menu-font-size-desktop: 1.6rem;

//mixins
@mixin box-shadow() {
	-webkit-box-shadow: 12px 16px 9px -16px rgba(66, 68, 90, 1);
	-moz-box-shadow: 12px 16px 9px -16px rgba(66, 68, 90, 1);
	box-shadow: 12px 16px 9px -16px rgba(66, 68, 90, 1);
}

@mixin authButtons() {
	width: 12.4rem;
	height: 8rem;
	font-size: 2rem;

	@media screen and (max-width: 1300px) {
		width: 8rem;
		height: 6rem;
		font-size: 1.6rem;
	}
}

@mixin beigeButtonStyle() {
	background-color: $light-beige-color;
	color: $bronze-color;
	text-align: center;
	border: 4px solid $dark-beige-color;
	border-radius: $border-radius;

	transition: border, color, 0.3s;
	will-change: border, color;

	&:hover {
		border: 6px solid #ffe5c0;
		color: rgb(164, 199, 36);
	}
}

@mixin blueButtonStyle() {
	border: 4px solid $blue-color;
	border-radius: $border-radius;

	transition: background-color, color, 0.3s;
	will-change: border, color;

	&:hover {
		color: $white-color;
		background-color: $blue-color;
	}
}

@mixin menuItem() {
	font-size: 2.4rem;
	margin: 2rem 0;
	cursor: pointer;
	color: $dark-color;
}

@mixin fonts($weight) {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: $weight;
	font-style: normal;
}

@mixin container() {
	background-color: $white-color;
	margin: 0 120px;
}

@mixin d-flex-column() {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin d-flex-row() {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

// flex-center for clients services
@mixin flex-center() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 14px;
}

//breakepoints

$small-mobile: 320px;
$mobile: 375px;
$tablet: 768px;
$small-desktop: 992px;
$desktop: 1200px;
$large-desktop: 1600px;

@mixin respond-to($breakpoint) {
	@if $breakpoint == small-mobile {
		@media (min-width: $small-mobile) {
			@content;
		}
	}
	@if $breakpoint == mobile {
		@media (min-width: $mobile) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media (min-width: $tablet) {
			@content;
		}
	}
	@if $breakpoint == small-desktop {
		@media (min-width: $small-desktop) {
			@content;
		}
	}
	@if $breakpoint == desktop {
		@media (min-width: $desktop) {
			@content;
		}
	}
	@if $breakpoint == large-desktop {
		@media (min-width: $large-desktop) {
			@content;
		}
	}
}
