@import '../../../style/index.scss';

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	.header {
		@include d-flex-row();
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 2rem;
		border-bottom: 1px solid #ccc;
		background-color: $white-color;
		position: absolute;
		top: 0;
		border-radius: $border-radius;

		&__logo {
			cursor: pointer;
		}

		&__closeIcon {
			cursor: pointer;
			width: $hamburger-close-icon;
		}
	}

	&__menuList {
		text-align: center;
		&__menuItem {
			@include menuItem();
			@include fonts(200);
			@include d-flex-column();

			transition: color, 0.7s;
			will-change: color;
		}
		&__menuItem:hover {
			color: $blue-color;
		}
	}

	&__logActionsList {
		margin-top: 3rem;
		@include fonts(600);
		gap: 0.5rem;

		&__item {
			@include menuItem();
			@include d-flex-column();
			@include authButtons();
		}

		&__item_signup {
			@include beigeButtonStyle();
		}

		&__item_login {
			@include blueButtonStyle();
		}
	}
}
