@import '../src/style/index.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body.dark-mode {
	background-color: $dark-mode-color-background;
	color: $dark-mode-color-text;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p {
	color: $dark-mode-color-text;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

ul {
	list-style: none;
}
