@import '../../style/index.scss';

//specific for card text color
:global(body.dark-mode) .card p {
	color: $text-color;
}

.container {
	@include d-flex-column;
	padding: 5vh 0;

	&__title {
		padding-top: 100px; /* nav height + distance */
		font-size: 2rem;

		@include respond-to(tablet) {
			font-size: 2.4rem;
		}

		@include respond-to(large-desktop) {
			font-size: 3.6rem;
		}
	}
}

.contact,
.contact_information {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
}

.contact {
	margin: 2rem 1rem;
	background-image: url('/src/assets/blob-scatter-haikei-outline.svg'), $blue-gradient-color;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	form {
		max-width: 600px;
		width: 100%;
		background: #fff;
		padding: 1rem 2rem 3rem;
		border-radius: 2rem;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
		color: $dark-color;
		margin: 1rem;
	}

	&__input_box {
		margin-top: 3rem;

		label {
			font-size: 1.6rem;
			font-weight: 600;
		}

		&_field {
			width: 100%;
			height: 50px;
			background: transparent;
			border: 2px solid $blue-color;
			outline: none;
			border-radius: 2rem;
			padding: 1.5rem;
			font-size: 1.5rem;
			color: $dark-color;
			margin-top: 1rem;

			&:focus {
				border-color: darken($light-blue-color, 10%);
			}
		}

		&_message {
			height: 150px;
			resize: none;
		}
	}

	&__btn_form {
		width: 100%;
		height: 55px;
		margin-top: 2rem;
		padding: 1.25rem;
		font-size: 1.6rem;
		border: none;
		border-radius: 0.5rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background: $third-blue-color;
		color: $white-color;
		transition: background 0.4s;
		cursor: pointer;
	}

	&__btn_form:hover {
		background: $purple-color;
	}
}

.contact_information {
	flex-direction: column;
	margin: 2rem 1rem;
	padding: 2rem;
	background-image: $purple-gradient-color;
	color: $white-color;

	&__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		font-weight: 600;
	}

	&__description,
	&__contact {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		text-align: center;
		&__item {
			margin-bottom: 1rem;
			margin-right: 2rem;
			text-align: left;

			&:last-child {
				width: 50%;
				margin-top: 4rem;
			}

			&__icon {
				margin-right: 1rem;
				font-size: 2rem;
			}
		}
	}

	&__graphic_mess_show {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(12%, -23%);
		img {
			width: 100%;
			height: 100%;
		}
	}
}

@include respond-to(mobile) {
	.contact_information {
		&__contact {
			&__item {
				margin-right: 4rem;

				&:last-child {
					margin-top: 0;
				}
			}
		}

		&__graphic_mess_show {
			top: 42%;
			left: 55%;
			img {
				width: 80%;
			}
		}
	}
}

@include respond-to(tablet) {
	.contact {
		form {
			padding: 3rem 5rem 6rem;
			margin: 5rem;
		}

		> * {
			position: relative;
			z-index: 2;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			pointer-events: none;
			z-index: 1;
			opacity: 0;
		}

		// Image visible at the start
		&::before {
			background-image: url('/src/assets/blob-scatter-haikei-outline.svg'), $blue-gradient-color;
			opacity: 1; // start image (visible)
		}

		// An image that ‘pops up’ on hover
		&::after {
			content: 'Have a nice day ✨';
			position: absolute;
			inset: 0;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding: 1rem 3rem;
			font-weight: 700;
			font-size: 1.8rem;
			color: $white-color;
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
			background-image: url('/src/assets/blob-scatter-haikei-solid.svg'), $blue-gradient-color;
			transform: translateY(20px);
			transition: opacity 1s ease, transform 1s ease;
		}

		// Hover — switch opacities
		&:hover {
			&::before {
				opacity: 0;
			}
			&::after {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.contact_information {
		&__contact {
			// margin-right: 10rem;

			&__item {
				padding-right: 10rem;

				&:last-child {
					width: 100%;
				}
			}
		}
	}
}

@include respond-to(desktop) {
	.wrapper {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	.contact_information {
		padding-bottom: 20rem;
		&__title {
			margin-bottom: 4rem;
			font-size: 3rem;
		}
		&__contact {
			margin-right: 0;

			&__item {
				margin-right: 0;
				padding-right: 0;
				margin-top: 5rem;
				margin-bottom: 5rem;
				margin-left: 4rem;
				&__icon {
					margin-right: 2rem;
					font-size: 2rem;
				}
			}
		}
		&__graphic_mess_show {
			top: 80%;
			left: 50%;
			transform: translate(-40%, -50%);
		}
	}
}

@include respond-to(large-desktop) {
	.container {
		display: block;
		margin: 0 20rem;
		text-align: center;
	}
	.contact {
		width: 100%;

		&::after {
			justify-content: flex-start;
			padding: 1.5rem 4rem;
		}
	}

	.contact_information {
		&__contact {
			&__item {
				padding-right: 0;
			}
		}

		&__graphic_mess_show {
			transform: translate(-50%, -50%);
		}
	}
}
